<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="login-page">
  <div class="form">
    <h1> Welcome <%=username%> .Happy to have you here</h1>
    <p><a href="/logout">Logout</a></p>
  </div>
</div>